.start-container {
  border-radius: 25px;
  border: 2px solid black;
  padding: 20px;
  width: 200px;
  height: 150px;
  margin-left: auto;
	margin-right: auto;
  background-color: lightgrey;
}

.button-container {
  width: 50%;
	height: 20%;
	/* Centering box horizontally inside of box-container */
	margin: 0 auto;
	/* Centering the element inside the box */
	display: flex;
  justify-content: center;
  align-items: center;
}

.gobtn {
  background-color: coral;
  border-radius: 10px;
  width: 75%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn, .dropdown-content a:hover {
  background-color: coral;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightgrey;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.title-display {
  font-size: 100px;
  position: absolute;
  left: 45%;
  top: 10%
}

.stackbtn {
  background-color: coral;
  border-radius: 10px;
  width: 10%;
  height: 40px;
  position: relative;
  left: 490px;
  top: 750px;
  margin-right: 200px;
}

.infobtn {
  background-color: coral;
  border-radius: 10px;
  position: absolute;
  left: 20px;
  top: 70px;
}

.show {
  display: block;
}
div.topText
{
  content: "Top";
  font-size: 16px;
  position: absolute;
  left:100px;
  top:150px
}
